@import url(c:\Users\tabas\Desktop\sait9\dev\sass\normalize.css);
@font-face {
  font-family: "Grap";
  src: url(/fonts/GraphikRegular/GraphikLCTTRegular.woff2) format("woff2"), url(/fonts/GraphikRegular/GraphikLCTTRegular.woff) format("woff"), url(/fonts/GraphikRegular/GraphikLCTTRegular.ttf) format("ttf");
}

@font-face {
  font-family: "GrapSB";
  src: url(/fonts/GraphikSemiBold/GraphikLCTTSemibold.woff2) format("woff2"), url(/fonts/GraphikSemiBold/GraphikLCTTSemibold.woff) format("woff"), url(/fonts/GraphikSemiBold/GraphikLCTTSemibold.ttf) format("ttf");
}

@font-face {
  font-family: "GrapB";
  src: url(/fonts/GraphikBold/GraphikLCTTBold.woff2) format("woff2"), url(/fonts/GraphikBold/GraphikLCTTBold.woff) format("woff"), url(/fonts/GraphikBold/GraphikLCTTBold.ttf) format("ttf");
}

@font-face {
  font-family: "GrapM";
  src: url(/fonts/GraphikMedium/GraphikLCTTMedium.woff2) format("woff2"), url(/fonts/GraphikMedium/GraphikLCTTMedium.woff) format("woff"), url(/fonts/GraphikMedium/GraphikLCTTMedium.ttf) format("ttf");
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: "GrapM", sans-serif;
  font-size: 1.6em;
  line-height: 1.6;
  margin: 0 auto;
  padding: 0;
  color: #151c22;
  background-color: #eee;
}

.main__grid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.acide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: auto 2fr 1fr;
      grid-template-columns: auto 2fr 1fr;
}

.social__left {
  position: absolute;
  left: 0;
  top: 0;
  width: 8.2rem;
  z-index: 3;
}

.first_sl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 7vw;
}

.works__item {
  width: 8.2vw;
  display: -ms-grid;
  display: grid;
  color: #fff;
  border-radius: 1rem;
  position: relative;
}

.works__link {
  text-decoration: none;
  color: #fff;
}

.works__link img {
  display: block;
  max-width: 100%;
}

.back_short {
  position: relative;
  -webkit-box-shadow: 0 5px 5px -5px rgba(1, 19, 53, 0.2), 0 10px 10px -5px rgba(1, 19, 53, 0.2), 0 20px 20px -5px rgba(1, 19, 53, 0.2), 0 40px 40px -5px rgba(1, 19, 53, 0.2);
          box-shadow: 0 5px 5px -5px rgba(1, 19, 53, 0.2), 0 10px 10px -5px rgba(1, 19, 53, 0.2), 0 20px 20px -5px rgba(1, 19, 53, 0.2), 0 40px 40px -5px rgba(1, 19, 53, 0.2);
  border-radius: 1rem;
  width: 100%;
  max-width: 110%;
}

.back_short:hover {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav {
  position: fixed;
  z-index: 2;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav > div {
  padding: 0;
}

.logo_img {
  max-width: 3.6em;
}

.header_left {
  margin: 0;
}

.header_right {
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 0;
}

.header_center {
  -ms-grid-column-align: center;
      justify-self: center;
}

.nav .nav_links {
  list-style-type: none;
}

.nav {
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1em;
  padding: 0 40px;
  grid-gap: 5em;
}

.nav :hover {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: blue;
  font-size: 130%;
}

.nav_links {
  padding: 0 auto;
  color: #151c22;
}
