.acide {
   z-index: 1;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: flex-end;
   height: 100%;
   width: 8.2rem;
   padding-bottom: 6rem;
}

.acide_text {
   position: relative;
   text-align: center;
   line-height: 1.2rem;
   display: flex;
   flex-wrap: nowrap;
   white-space: nowrap;
   transform: rotate(-90deg);
   transform-origin: 50% 50%;
   margin: 0;
   padding: 0;
}

.social__left {
   font-weight: 700;
   text-transform: uppercase;
   font-size: 1rem;
   width: 8.2rem;
   z-index: 3;
   letter-spacing: 0.2rem;
   span {
      letter-spacing: -.1rem;
      margin-right: .2rem;
      transform: translateY(-.065rem);
      display: inline-block;
      opacity: .5;
   }
}

.soc_link {
   text-align: center;
   position: relative;
   line-height: 2.4rem;
   letter-spacing: 0.8rem;
}

.soc_link {
   text-decoration: none;
   color: $tb_color;
   transform: rotate(90deg);
   font-size: 2.2rem;
   white-space: nowrap;
   &:hover {
      transition: 0.2s ease-out;
      color: $tb_colorH;
   }
}