@font-face{
   font-family: "Grap";
   src: url(/fonts/GraphikRegular/GraphikLCTTRegular.woff2) format('woff2'),
   url(/fonts/GraphikRegular/GraphikLCTTRegular.woff) format('woff'),
   url(/fonts/GraphikRegular/GraphikLCTTRegular.ttf) format('ttf');
}
@font-face{
   font-family: "GrapSB";
   src: url(/fonts/GraphikSemiBold/GraphikLCTTSemibold.woff2) format('woff2'),
   url(/fonts/GraphikSemiBold/GraphikLCTTSemibold.woff) format('woff'),
   url(/fonts/GraphikSemiBold/GraphikLCTTSemibold.ttf) format('ttf');
}
@font-face{
   font-family: "GrapB";
   src: url(/fonts/GraphikBold/GraphikLCTTBold.woff2) format('woff2'),
   url(/fonts/GraphikBold/GraphikLCTTBold.woff) format('woff'),
   url(/fonts/GraphikBold/GraphikLCTTBold.ttf) format('ttf');
}

@font-face{
   font-family: "GrapM";
   src: url(/fonts/GraphikMedium/GraphikLCTTMedium.woff2) format('woff2'),
   url(/fonts/GraphikMedium/GraphikLCTTMedium.woff) format("woff"),
   url(/fonts/GraphikMedium/GraphikLCTTMedium.ttf) format("ttf");
}