@import 'font', 'setting';
$color_a: #eee; //backgroung 
$color_b:#fff; //back2
$tb_color: #151c22;  //text color
$tb_colorH: #ff5722; //base
$tb_colorD: #c41c00; // dark
$tb_colorL: #ff8a50;//ligth
$font_base: "Roboto", sans-serif;
body {
   height: 100%;
  min-height: 100%;
   font-family: $font_base;
   font-size: 1.6em;
   line-height: 1.6;
   margin: 0 auto;
   padding: 0;
   color: $tb_color;
   background-color: $color_a;
}

.main__grid {
   
   box-sizing: border-box; 
}

.wrapper {
   //width: 100%;
   margin: 0 auto;
}

.first_sl{
   display: flex;
   height: 100vh;
   justify-content: center;
   flex-direction: column;
   position: relative;
   // overflow: hidden;
}
.works{
   // border: 3px dashed red;
   display: flex;
   justify-content: space-around;
   margin: 0 7vw;
   padding: 0;
}
.works__item{
   width: 11.7vw;
   display: grid;
   color: #fff; 
   border-radius: 1rem;
   position: relative;  
  }

.works__link{
   text-decoration: none;
   color: #fff; 
   img{
      display: block;
      max-width: 100%;
   }
}
.back_short{
   position: relative;
   box-shadow: 0 5px 5px -5px rgba(1,19,53,.2), 0 10px 10px -5px rgba(1,19,53,.2), 0 20px 20px -5px rgba(1,19,53,.2), 0 40px 40px -5px rgba(1,19,53,.2);
   border-radius: 1rem;
  
   width: 100%;
   max-width: 110%;
   &:hover{
      transition: 0.2s ease-out;
     transform: scale(1.1);
   }
}

@import 'normalize.css' , "acideleft", "header";