body {
   font-family: "Roboto", "Open-sans", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   box-sizing: border-box;
   margin: 0 0;
   .wrapper {
      font-size: 18px;
      font-weight: 700;
      min-width: 700px;
      min-height: 100vh;
      background: #119991;
      margin: 0 auto;
   }
}

.container {
   width: 1000px;
   margin: 0 auto;
}

section {
   background: #119991
}

.maincontent {
   width: 1000px;
   margin: 0 auto;
   .title {
      font-weight: 500;
      text-align: left;
      min-height: 100%;
   }
}

@import "style";