*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5em;
  margin: 0 auto;
}

.main_header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr;
      grid-template-columns: 2fr 4fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav {
  padding: 0;
  margin: 1.5em 0 0 0;
  font-weight: 400;
  letter-spacing: 0.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_item {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  position: relative;
  list-style: none;
  opacity: 0.6;
  -webkit-box-flex: initial;
      -ms-flex-positive: initial;
          flex-grow: initial;
}

.nav_item ::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 100%;
  top: 100%;
  left: 0;
  opacity: 0;
}

.nav_item:hover {
  opacity: 1;
}

.nav_item:hover ::after {
  opacity: 1;
}

a {
  font-size: 1.6rem;
  color: #fff;
}

.intro_header {
  max-height: 100vh;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-blend-mode: multiply;
  background: rgba(0, 4, 26, 0.473) center no-repeat;
  background-size: cover;
}

.intro_h1 {
  color: #fff;
}

.intro_h2 {
  color: #fff;
}

h1 {
  opacity: 1;
  font-size: 13rem;
}

h2 {
  font-size: 4.8rem;
}

.buttom {
  margin: 8vh 0;
}

.btn_int {
  z-index: 4;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-weight: 400;
  border: 1px solid #fff;
  background-blend-mode: normal;
  border-radius: 1rem;
  padding: 20px 30px;
}

.btn_int:hover {
  -webkit-box-shadow: 10px 0px 90px 4px rgba(0, 221, 255, 0.5);
  box-shadow: 10px 0px 90px 4px rgba(0, 221, 255, 0.5);
}

.info_s {
  margin: 10vh auto;
  padding: 0 5vw;
  background-color: #fff;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  -ms-grid-columns: (1fr)[2];
      grid-template: repeat(3, 1fr)/repeat(2, 1fr);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.56rem;
  grid-gap: 5vh;
  -ms-flex-line-pack: center;
      align-content: center;
}

.info_s2 {
  position: relative;
  padding: 0 4rem;
  color: #fff;
  background-blend-mode: multiply;
  background-size: cover;
  min-height: 45vh;
  border-radius: 1rem;
  background-color: rgba(0, 4, 26, 0.23);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.info_s2:nth-child(1) {
  min-height: 45vh;
  background-position: 0 -90px;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 0 10rem;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 3.52rem;
}

.info_s2:hover {
  background-color: rgba(0, 4, 26, 0.55);
  background-position: 0 -10px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.13);
}

.info_s2:hover:nth-child(1) {
  background-position: 0 -100px;
}

.i_titel {
  margin-bottom: 2rem;
  z-index: 52;
  font-weight: 500;
  font-size: 3rem;
  line-height: normal;
}

.i_content {
  font-size: 2rem;
  z-index: 57;
}

.img_back {
  max-width: 20%;
  background: center no-repeat;
  background-size: cover;
}

.info_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 2rem auto;
  padding: 3rem 3rem;
  max-width: 45vw;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: .6rem;
  color: #fff;
  background-color: black;
}

.info_box:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.13);
}

.info_box .link_in {
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-weight: 500;
  margin-top: 2rem;
  padding: 1rem 4rem;
  border-radius: .8rem;
  border: 1px solid #fff;
}

.info_box .link_in:hover {
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: 10px 0px 90px 4px white;
          box-shadow: 10px 0px 90px 4px white;
}

.titel_form {
  line-height: normal;
  font-weight: 500;
}

.grup_email {
  cursor: pointer;
}

form {
  width: 100%;
  height: 100%;
  margin: 2rem auto;
  padding: 3rem 3rem;
  max-width: 45vw;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: .6rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

form:focus, form:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.13);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.13);
}

form div {
  margin-bottom: 2vh;
}

.connect2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_l {
  text-align: start;
  position: relative;
}

.form_l label {
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: #aaaaaa;
  font-size: 1.6rem;
  letter-spacing: 1px;
  top: 0;
  left: 0;
  position: absolute;
}

.form_l input {
  font-size: 2rem;
  font-weight: 600;
  color: #4b4b4b;
  width: 100%;
  margin: 1rem auto;
  padding: 0 0 .6rem 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.form_l input:focus, .form_l input:hover, .form_l input:valid {
  border-bottom: 1px solid #202020;
  color: #00c3ff;
}

.form_l input:focus ~ label, .form_l input:hover ~ label, .form_l input:valid ~ label {
  opacity: 1;
  top: -1rem;
  color: #aaaaaa;
  font-size: 1rem;
}

.lab_titel {
  max-width: 80%;
  margin: 2rem auto;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 1.6rem;
}

.btn {
  text-align: center;
  font-weight: 500;
  color: #fff;
  background-color: #00b7ff;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.btn:focus, .btn:hover {
  background-color: #ff833a;
}

footer {
  min-height: 20vh;
  background-color: #272727;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .soc_link {
  margin: 0 0 0 .5rem;
  font-size: 2rem;
}

footer .soc_link:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translate(8px);
          transform: translate(8px);
  color: #ff833a;
}

footer a {
  color: #ffffff;
}

.soc_de {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: start;
  font-weight: 400;
  font-size: 1.6rem;
  cursor: pointer;
}

.soc_de:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translate(8px);
          transform: translate(8px);
  color: #ff833a;
}

@media only screen and (max-width: 1170px) {
  .intro_h1 {
    margin-top: 11rem;
  }
  .nav {
    margin-top: 5rem;
  }
  .nav_link {
    font-size: 2rem;
  }
  .buttom {
    margin-top: 13rem;
  }
  .btn_int {
    border: 2px solid;
    font-size: 3rem;
  }
  .info_s {
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
  .info_s .info_s2:nth-child(1) {
    background-position: center;
    grid-column: initial;
  }
  form, .info_box {
    max-width: 80vw;
    margin: 2rem auto;
  }
}

@media only screen and (max-width: 970px) {
  .intro_h1 {
    font-size: 9rem;
    padding-left: 5rem;
    line-height: initial;
    margin-bottom: 0;
  }
  .intro_h2 {
    margin-top: 2rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: start;
    font-size: 4rem;
    line-height: initial;
    padding-left: 5rem;
  }
  .buttom {
    margin-top: 5rem;
  }
  .main_header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .nav a {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 750px) {
  form, .info_box {
    max-width: 90vw;
    margin: 2.5vw auto;
    padding: 5vw;
  }
  .info_s2:nth-child(1) {
    text-align: start;
    padding: 0 5vw;
    background-position: center;
    grid-column: initial;
  }
  .info_s2:hover:nth-child(1) {
    background-position: 0 -10px;
  }
}
