*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
}

a {
  text-decoration: none;
}
