@-webkit-keyframes name {
  0% {
    background: #328;
    border: #121;
  }
  50% {
    border: #123;
  }
}

@keyframes name {
  0% {
    background: #328;
    border: #121;
  }
  50% {
    border: #123;
  }
}

#first_1 {
  background: #328;
}

@-webkit-keyframes circD {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circD {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.st22 {
  -webkit-transform-origin: 124.6px 36.6px;
          transform-origin: 124.6px 36.6px;
  -webkit-animation: circD 2s linear;
          animation: circD 2s linear;
}

.st24 {
  -webkit-transform-origin: 124.6px 36.6px;
          transform-origin: 124.6px 36.6px;
  -webkit-animation: circD 2s linear;
          animation: circD 2s linear;
}

.st24:hover {
  -webkit-animation: circD 2s linear;
          animation: circD 2s linear;
}

.st23 {
  -webkit-transform-origin: 124.6px 36.6px;
          transform-origin: 124.6px 36.6px;
  -webkit-animation: circD 2s linear;
          animation: circD 2s linear;
}

.svg_logo {
  margin: 0;
  padding: 0;
  min-height: 80px;
  width: 50vw;
}

.svg_logo:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.svg_logo .st22 {
  fill: #328;
}

.svg_logo .st22:hover {
  -webkit-animation: circD 2s linear;
          animation: circD 2s linear;
  fill: #124;
}

.svg_logo .st23 {
  fill: #123;
}

.svg_logo .st23:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  fill: #124;
}

.svg_logo .st24 {
  fill: #124;
}

.svg_logo .st24:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  fill: #124;
}

.svg_logo .st26 {
  fill: #124;
}

.svg_logo .st26:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  fill: #124;
}
