$color_cirM:#328;
$color_cirS: #123;
$color: #121;
$tb_colorH:#124;
$tb_colorL:#111;
$color_circle:#124;
$baseColor: #124;
//круг анимация
@keyframes name {
   0% { background: $color_cirM;
      border: $color;}
   50% {border: $color_cirS;}
}

#first_1{
  background: #328;
}
   
@keyframes  circD{
   0%{  transform: rotate(360deg);}
//  50%{ transform: rotate(20deg);}
}
.st22{
   transform-origin: 124.6px 36.6px;
  // position: absolute;
   animation: circD 2s linear  ;
}
.st24{
   transform-origin: 124.6px 36.6px;
   animation: circD 2s linear  ;
   &:hover{
      animation: circD 2s linear  ;
   }
}
.st23{
   transform-origin: 124.6px 36.6px;
   animation: circD 2s linear  ;
 
}
.svg_logo {
  // border: 1px solid red;
 
   margin: 0;
   padding: 0;
   min-height: 80px;
   width: 50vw;
   &:hover {
     
      transition: 0.3s ease-out;
     
      // .st22, .st23 , .st24{ 
         
      //    fill: $tb_colorH;}
      //    .st26{
      //       // stroke: $tb_colorL;
      //       // stroke-width: 1%;
      //       transition: 0.7s ease-out;
      //     //  fill: ;
      //    }
   }
   .st22 { 
     
      fill: $color_cirM;
      &:hover{    
         animation: circD 2s linear  ;
         fill: $tb_colorH;
      }
   }
   .st23 {
      fill: $color_cirS;
       &:hover{      transition: 0.3s ease-out;

         fill: $tb_colorH;
      }
   }
   .st24 {
      fill: $color_circle;
      &:hover{      transition: 0.3s ease-out;

         fill: $tb_colorH;
      }
   }
   .st26 {
      fill:$baseColor ;
      &:hover{   
            transition: 0.3s ease-out;

         fill: $tb_colorH;
      }
   }
}
